<div class="container my-3 p-3 border-bottom border-top">


  <div class="row">
    <div class="form-group col-12">
      <label for="lembreteInputText">Lembrete</label>
      <input sombraNoElemento sombraEntrada="10px 10px" type="text" id="lembreteInputText" placeholder="Digite seu lembrete" class="form-control" [(ngModel)]="lembrete">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button (click)="salvar()" type="button" class="btn btn-primary btn-block">Salvar</button>
    </div>
  </div>
  <div class="row">
    <table sombraNoElemento sombraEntrada="10px 10px #CCC" class="table table-striped table-hover mt-3">
      <thead>
        <tr>
          <th class="text-center">Lembretes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lembrete of lembretes">
          <td class="text-center">{{lembrete}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
